{# Template voor forward proxy configuraties #}
{# Loop over alle klanten #}
{% for klant in forwardproxy %}
{% set loop_ctr = loop.index -%}
{# Eerst source acl #}
#Configuratie voor {{ loop_ctr }}_{{ klant.naam }}
{% for source in klant.sources %}
acl {{ loop_ctr }}_{{ klant.naam }}_src src {{ source }}
{% endfor %}

{% if 'destinationhosts' in klant %}
{% for source in klant.destinationhosts %}
acl {{ loop_ctr }}_{{ klant.naam }}_dstdomain dstdomain {{ source }}
{% endfor %}
http_access allow {{ loop_ctr }}_{{ klant.naam }}_src {{ loop_ctr }}_{{ klant.naam }}_dstdomain
{% endif %}

{% if 'destinationips' in klant %}
{% for source in klant.destinationips %}
acl {{ loop_ctr }}_{{ klant.naam }}_dstips dst {{ source }}
{% endfor %}
http_access allow {{ loop_ctr }}_{{ klant.naam }}_src {{ loop_ctr }}_{{ klant.naam }}_dstips
{% endif %}

{% if 'destinationurls' in klant %}
{% for source in klant.destinationurls %}
acl {{ loop_ctr }}_{{ klant.naam }}_dsturls  url_regex -i {{ source }}
{% endfor %}
http_access allow {{ loop_ctr }}_{{ klant.naam }}_src {{ loop_ctr }}_{{ klant.naam }}_dsturls
{% endif %}

{% endfor %}

