{# Template voor forward proxy configuraties #}
#Cache_peer configurations
{% for cp in cps %}
cache_peer {{ cp.destination }} parent {{ cp.destination_port }}  0 no-digest no-query proxy-only {{ cp.options }} name={{ cp.name }}
{% endfor %}

